
.group_name {
    position: absolute;
    z-index: 10000;
    font-size: 2rem;
    top: 1%;
    color: #efefee;
    /*font-size: xx-large;*/
    font-family: monospace;
    background-color: #898071;
}
